RewriteEngine on RewriteCond % { REQUEST_FILENAME }!-d RewriteCond % { REQUEST_FILENAME }\.html - f RewriteRule ^ (.*) $ $1.html[NC, L] ErrorDocument 404 /404.html RewriteCond %{QUERY_STRING} ^$ RewriteRule ^discord$ https://discord.gg/XJkArUbmS8? [R=301,NE,NC,L]
RewriteCond %{QUERY_STRING} ^$ RewriteRule ^telegram$ https://t.me/MetaSapiensComm? [R=301,NE,NC,L] RewriteCond %{QUERY_STRING} ^$ RewriteRule ^Instagram$ https://www.instagram.com/metasapiens.comm/? [R=301,NE,NC,L] RewriteCond %{QUERY_STRING} ^$ RewriteRule
^twitter$ https://twitter.com/MetaSapienscomm? [R=301,NE,NC,L] RewriteCond %{QUERY_STRING} ^$ RewriteRule ^linkedin$ https://www.linkedin.com/company/metasepians/? [R=301,NE,NC,L] RewriteCond %{QUERY_STRING} ^$ RewriteRule ^youtube$ https://www.youtube.com/channel/UCx1lAzxc2_MEc_m9tefVNlg?
[R=301,NE,NC,L] RewriteCond %{QUERY_STRING} ^$ RewriteRule ^whatsapp$ https://chat.whatsapp.com/DUAcLncwznqKizb6D0RMhb? [R=301,NE,NC,L]