RewriteEngine on RewriteCond % { REQUEST_FILENAME }!-d RewriteCond % { REQUEST_FILENAME }\.html - f RewriteRule ^ (.*) $ $1.html[NC, L] ErrorDocument 404 /404.html RewriteCond %{HTTP_HOST} ^www\.metasapiens\.tech$ RewriteRule ^discord$ https://discord.gg/XJkArUbmS8?
[L,R=301] RewriteCond %{HTTP_HOST} ^www\.metasapiens\.tech$ RewriteRule ^whatsapp$ https://chat.whatsapp.com/DUAcLncwznqKizb6D0RMhb? [L,R=301] RewriteCond %{HTTP_HOST} ^www\.metasapiens\.tech$ RewriteRule ^telegram$ https://t.me/MetaSapiensComm? [L,R=301]
RewriteCond %{HTTP_HOST} ^www\.metasapiens\.tech$ RewriteRule ^youtube$ https://www.youtube.com/channel/UCx1lAzxc2_MEc_m9tefVNlg? [L,R=301] RewriteCond %{HTTP_HOST} ^www\.metasapiens\.tech$ RewriteRule ^instagram$ https://www.instagram.com/metasapiens.comm/?
[L,R=301] RewriteCond %{HTTP_HOST} ^www\.metasapiens\.tech$ RewriteRule ^twitter$ https://twitter.com/MetaSapienscomm? [L,R=301]